[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ekstrakto = {git = "https://github.com/alfa-bravo/ekstrakto"}
scipy = "==1.1.0"
Pillow = "==8.3.2"

[dev-packages]

[requires]
python_version = "3.6"
